<table class="table table-striped">
    <thead>
        <tr>
            <th>{{_ 'Field'}}</th>
            <th>{{_ 'Before'}}</th>
            <th>{{_ 'After'}}</th>
        </tr>
    </thead>
    <tbody>
        {{#if item.schema.fields}}
            {{#format 'detail' item.schema.name item.original}}
                {{#each formats}}
                    {{#notin 'active,created,updated' type}}
                        <tr>
                            <td><strong>{{label}}</strong></td>
                            <td>{{{value}}}</td>
                            <td>
                                {{#format 'detail' ../../item.schema.name ../../item.current @key}}
                                    {{{value}}}
                                {{/format}}
                            </td>
                        </tr>
                    {{/notin}}
                {{/each}}
            {{/format}}
        {{else}}
            {{#each item.current}}
                <td><strong>{{@key}}</strong></td>
                <td>
                    {{#scope ../item.original @key}}
                        {{#is_array this}}
                            <pre
                                class="prettyprint linenums"
                                data-do="prettify"
                            ><code>{{{json_pretty this}}}</code></pre>
                        {{else}}
                            {{this}}
                        {{/is_array}}
                    {{/scope}}
                </td>
                <td>
                    {{#scope ../item.current @key}}
                        {{#is_array this}}
                            <pre
                                class="prettyprint linenums"
                                data-do="prettify"
                            ><code>{{{json_pretty this}}}</code></pre>
                        {{else}}
                            {{this}}
                        {{/is_array}}
                    {{/scope}}
                </td>
            {{/each}}
        {{/if}}
    </tbody>
</table>
