{{#when ../../detail.format '===' 'none'}}
    {{#is_array this}}
        {{_ 'Array'}}
    {{else}}
        {{~this~}}
    {{/is_array}}
{{/when}}
{{#when ../../detail.format '===' 'lower'}}
    {{lower this}}
{{/when}}
{{#when ../../detail.format '===' 'upper'}}
    {{upper this}}
{{/when}}
{{#when ../../detail.format '===' 'capital'}}
    {{capital this}}
{{/when}}
{{#when ../../detail.format '===' 'length'}}
    {{chars this ../../detail.parameters}}
{{/when}}
{{#when ../../detail.format '===' 'words'}}
    {{words this ../../detail.parameters}}
{{/when}}
{{#when ../../detail.format '===' 'html'}}
    {{{this}}}
{{/when}}
{{#when ../../detail.format '===' 'markdown'}}
    {{{markdown this}}}
{{/when}}
{{#when ../../detail.format '===' 'number'}}
    {{number this}}
{{/when}}
{{#when ../../detail.format '===' 'price'}}
    {{price this}}
{{/when}}
{{#when ../../detail.format '===' 'yes'}}
    {{#if this}}Yes{{else}}No{{/if}}
{{/when}}
{{#when ../../detail.format '===' 'date'}}
    {{#if this}}
        {{date this ../../detail.parameters}}
    {{else}}
        &nbsp;
    {{/if}}
{{/when}}
{{#when ../../detail.format '===' 'relative'}}
    {{#if this}}
        {{relative this ../../detail.parameters}}
    {{else}}
        &nbsp;
    {{/if}}
{{/when}}
{{#when ../../detail.format '===' 'strip'}}
    {{{strip this ../../detail.parameters}}}
{{/when}}
{{#when ../../detail.format '===' 'link'}}
    <a href="{{compile ../../detail.parameters.0 ../this}}">{{compile ../../detail.parameters.1 ../this}}</a>
{{/when}}
{{#when ../../detail.format '===' 'image'}}
    <img src="{{this}}" width="{{../../detail.parameters.0}}" height="{{../../detail.parameters.1}}" />
{{/when}}
{{#when ../../detail.format '===' 'email'}}
    <a href="mailto:{{this}}">{{compile ../../detail.parameters ../this}}</a>
{{/when}}
{{#when ../../detail.format '===' 'phone'}}
    <a href="tel:{{this}}">{{compile ../../detail.parameters ../this}}</a>
{{/when}}
{{#when ../../detail.format '===' 'custom'}}
    {{{compile ../../detail.parameters ../this}}}
{{/when}}
{{#when ../../detail.format '===' 'comma'}}
    {{join this ','}}
{{/when}}
{{#when ../../detail.format '===' 'space'}}
    {{join this ' '}}
{{/when}}
{{#when ../../detail.format '===' 'nl'}}
    {{#each this}}
        {{this}}
        {{#unless @last}}<br />{{/unless}}
    {{/each}}
{{/when}}
{{#when ../../detail.format '===' 'ul'}}
    <ul>
        {{#each this}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/when}}
{{#when ../../detail.format '===' 'ol'}}
    <ol>
        {{#each this}}
            <li>{{this}}</li>
        {{/each}}
    </ol>
{{/when}}
{{#when ../../detail.format '===' 'meta'}}
    <ul class="meta-list">
        {{#each this}}
            <li>
                <span class="key">{{@key}}</span> :
                <span class="value">{{this}}</span>
            </li>
        {{/each}}
    </ul>
{{/when}}
{{#when ../../detail.format '===' 'tag'}}
    {{#each this}}
        <div class="badge badge-orange">{{this}}</div>
    {{/each}}
{{/when}}
{{#when ../../detail.format '===' 'jsonpretty'}}
    {{{json_pretty this}}}
{{/when}}
{{#when ../../detail.format '===' 'formula'}}
    {{formula ../../detail.parameters ../this}}
{{/when}}
