<tr>
    <th>Action</th>
    <th>
        <a href="?{{sorturl 'order' schema.primary}}">
            ID
            {{{sortcaret 'order' schema.primary}}}
        </a>
    </th>
    {{#each schema.relations}}
        {{#when many '==' 1}}
            {{#when name '===' 'profile'}}
                <th>{{_ 'Who'}}</th>
            {{else}}
                <th>{{singular}}</th>
            {{/when}}
        {{/when}}
    {{/each}}
    {{#each schema.fields}}
        {{#in ../schema.listable @key}}
            <th>
                {{#in ../schema.sortable @key}}
                    <a href="?{{sorturl 'order' @key}}">
                        {{#when name '===' 'activity'}}
                            {{_ 'What'}}
                        {{else}}
                            {{#when name '===' 'remote_address'}}
                                {{_ 'Where'}}
                            {{else}}
                                {{#when name '===' 'created'}}
                                    {{_ 'When'}}
                                {{else}}
                                    {{label}}
                                {{/when}}
                            {{/when}}
                        {{/when}}
                        {{{sortcaret 'order' @key}}}
                    </a>
                {{else}}
                    {{#when name '===' 'activity'}}
                        {{_ 'What'}}
                    {{else}}
                        {{#when name '===' 'remote_address'}}
                            {{_ 'Where'}}
                        {{else}}
                            {{#when name '===' 'created'}}
                                {{_ 'When'}}
                            {{else}}
                                {{label}}
                            {{/when}}
                        {{/when}}
                    {{/when}}
                {{/in}}
            </th>
        {{/in}}
    {{/each}}
</tr>
